.btn{
	font-weight: bold;
}
#navbar_design{
	background-color: #233645; 
	border-radius: 0px; 
}
#navbar_brand{
	font-size: 25px; 
}
#loader_animation{ 
	margin-bottom: 10px; 
}
#profile_page_image{ 
	width:150px; 
	height:150px; 
	margin-bottom: 40px; 
}